# Strings

In [1]:
'here is a string'

'here is a string'

In [2]:
"hear is another string" == "hear is another string"

True

In [3]:
'here "is" a string'

'here "is" a string'

In [4]:
a_way_to_say_a_large_phrase = """ 
I will not give up until i understand and know \n
how to intergrate A.I., Q.M.L, Q.A.I  in a positive \n 
way to improve life.
"""  
print(a_way_to_say_a_large_phrase)

I will not give up until i understand and know

how to intergrate A.I., Q.M.L, Q.A.I  in a positive

way to improve life.

# These are ways to navigate through window files in jupyter notebook

> windows_path = "c:\tam\ProJects\now"
> print(windows_path)

> windows_path = r"c:\tam\Projects\now"
> print(windows_path)

In [5]:
mill = "millard Little Man"
mill

'millard Little Man'

In [6]:
mill.capitalize()

'Millard little man'

In [7]:
mill.lower()

'millard little man'

In [8]:
mill.upper()

'MILLARD LITTLE MAN'

**Interrogation**

In [9]:
mild = "Mildrien"
mild

'Mildrien'

In [10]:
mild.index('d')

3

In [11]:
mild.index('n')

7

**Content type**

In [12]:
'abc123'.isalpha()

False

In [13]:
'abc123'.isalnum()

True

In [14]:
'lowercase'.islower()

True

In [15]:
'abc123'.isalnum()

True

In [16]:
'lowercase'.isupper()

False

In [17]:
one = '1'

In [18]:
one.isnumeric()

True

## **Format strings**

 > * Introduced in python 3.6
 > * Prefixed by either a "F" or 'f'
 > * Values Inserted atruntime using replacement fields.

In [19]:
f"Example {1}"

'Example 1'

> Insert variable into replacement field

In [21]:
strings_count = 6
frets_count = 24
f"Noam some player Pikeln's banjo has {strings_count} strings and {frets_count} frets"

"Noam some player Pikeln's banjo has 6 strings and 24 frets"

Insert expression into replacement field

In [22]:
a = 12  
b = 32  
f"{a} times {b} equals {a*b}"

'12 times 32 equals 384'

In [25]:
players = ["another person", "some person", "split personalities"]
f"Performances will be held by {players[1]}, {players[0]}, and {players[2]}"

'Performances will be held by some person, another person, and split personalities'

>**Padding a number**

In [26]:
lucky_num = 13
f"To pad the number {lucky_num} to 5 places: {lucky_num:5d}"

'To pad the number 13 to 5 places:    13'

> **Setting padding value at runtime**

In [30]:
lucky2_num = 77
padding = 3
f" to pad the number {lucky2_num} to {padding} places: {lucky2_num:{padding}d}"

' to pad the number 77 to 3 places:  77'

> **Commas**

In [32]:
balance = 12329867
print(f"Your school loan is {balance:,}")

Your school loan is 12,329,867

> **Manipulate strings**

> **Removng Whitespaces**

In [37]:
ship = " A yankee clipper "
ship

' A yankee clipper '

In [38]:
ship.strip()

'A yankee clipper'

In [39]:
ship.lstrip()

'A yankee clipper '

In [40]:
ship.rstrip()

' A yankee clipper'


### **Splitting and joining**

In [ ]:
words_string = " Making, Words, to, practice, programming"

### **Split on comma**

In [ ]:
words = words_string.split(',')
words

> ### ** Joining**

In [ ]:
':'.join(words)

> ### **Split on newline**

In [48]:
multiline = " Sometimes we are given \n a multiline document \n as a single string"
multiline

' Sometimes we are given \n a multiline document \n as a single string'

In [50]:
name = "mild"

if name.endswith('i'):
    print("yeah the name ends with 'i'")
else:
    print("Come on you gotta know how to spell your name")

Come on you gotta know how to spell your name